schema_version = "1.0.0"

id = "csv_importer"
version = "0.2.1"
name = "CSV Importer"
tagline = "import csv data to meshes in Blender"
maintainer = "Jan-Hendrik Müller<jan-hendrik.mueller@uni-goettingen.de>"
type = "add-on"
website = "https://github.com/kolibril13/blender_csv_import"
platforms = [
	"windows-x64",
	"linux-x64",
	"macos-arm64",
]
tags = [
	"Geometry Nodes",
	"Import-Export",
]
blender_version_min = "4.2.5"
license = [
	"SPDX:GPL-3.0-or-later",
]
copyright = [
	"2024 Jan-Hendrik Müller",
]
wheels = [
	"./wheels/databpy-0.6.0-py3-none-any.whl",
	"./wheels/polars-1.38.0-py3-none-any.whl",
	"./wheels/polars_runtime_32-1.38.0-cp310-abi3-macosx_11_0_arm64.whl",
	"./wheels/polars_runtime_32-1.38.0-cp310-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl",
	"./wheels/polars_runtime_32-1.38.0-cp310-abi3-win_amd64.whl",
]


[permissions]
files = "Importing data files from disk"

# make sure only __init__.py and wheels/ are included.

[build]
paths_exclude_pattern = [
	".gitignore",    # Exclude gitignore
	"*.zip",         # Exclude *.zip
	"*__pycache__/", # Exclude /__pycache__ folder
]
